{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}
<div style = "background-color: rgb(80, 124, 255);">
    <h1> Formulario - Editar Profesor </h1>

    {% if mi_formulario.errors %}
    <p style="color:red;"> Están mal los datos, revisar</p>"
    {% endif %}

    <form action="" method="POST"> {% csrf_token %}
    
        <table>
            {{mi_formulario.as_table}}
        </table>

        <input type="submit", value="Enviar">
    </form>
</div>

{% endblock %}